.services{
    display: flex;
    padding: 0 3rem 0 3rem;
    height: 90vh;
    margin-top: 9rem;
    margin-bottom: 8rem;
}

.asewome{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}


.asewome>:nth-child(1){
    color: var(--blue);
    font-size: 3rem;
    font-weight: bold;
}
.asewome>:nth-child(2){
    color: var(--lightblue);
    font-size: 3rem;
    font-weight: bold;
}
.asewome>:nth-child(3){
    color: var(--black);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 1rem;
}

.d-button{
    margin-top: 5rem;
}

.cards{
    flex-direction: column;
    flex: 1;
    position: relative;
}

.cards>*{
    position: absolute;
}

.s-blur2{
    left:14rem;
    top:8rem;

}

.blur1{
    top: 13rem;
    left: -18rem;
}