:root{
  --darkblue:#0b0242;
  --blue: #11038c;
  --lightblue:#0436bf;
  --neonblue: #04D9C4;
  --black:#060118;
  --bluecard: #DDF8FE;
  --purple: rgb(207, 178, 224);
  --boxshadow:0px 19px 60px rgb(0 0 0 / 8%);
  --bluecard1: rgba(31, 136, 255, 0.45);
   --smboxshadow:-79px 51px 60px rgba(0,0,0,0.08);
}

.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button{
  width: 100px;
  height: 40px;
  border-radius: 6px;
  background-image: linear-gradient(to right top, #d16ba5, #ba83ca, #79b3f4, #41dfff);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border: none;
  color: white;
}

.button:hover{
  cursor: pointer;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}